ProyectoFinalSeguridadApps/Connected Services/WebService/WsSecurityProject.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFSeguridadApps" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFSeguridadApps" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WsSecurityProject/WsSecurityProject.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Business_SeguridadApps.StructuresObj" />
  <xs:complexType name="SecurityInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityInput" nillable="true" type="tns:SecurityInput" />
  <xs:complexType name="Validate">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Business_SeguridadApps.StructuresObj" minOccurs="0" name="Output" nillable="true" type="q1:InputResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Validate" nillable="true" type="tns:Validate" />
  <xs:complexType name="CreditCardInf">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Business_SeguridadApps.StructuresObj" minOccurs="0" name="creditCard" nillable="true" type="q2:CreditCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCardInf" nillable="true" type="tns:CreditCardInf" />
  <xs:complexType name="SanitizedInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SanitizedInput" nillable="true" type="tns:SanitizedInput" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsMatch" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Business_SeguridadApps.StructuresObj" minOccurs="0" name="encodingData" nillable="true" type="q3:EncodingData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>