ProyectoFinalSeguridadApps/Connected Services/WebService/WsSecurityProject1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Business_SeguridadApps.StructuresObj" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Business_SeguridadApps.StructuresObj" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InputResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsMatch" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SanitizedString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputResult" nillable="true" type="tns:InputResult" />
  <xs:complexType name="CreditCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditCardMasked" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Index" type="xs:int" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCard" nillable="true" type="tns:CreditCard" />
  <xs:complexType name="EncodingData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SHA256" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cryptoData" nillable="true" type="tns:CryptoData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncodingData" nillable="true" type="tns:EncodingData" />
  <xs:complexType name="CryptoData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Decrypted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Done" type="xs:boolean" />
      <xs:element minOccurs="0" name="Encrypted" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CryptoData" nillable="true" type="tns:CryptoData" />
</xs:schema>