ProyectoFinalSeguridadApps/Connected Services/WebService/WsSecurityProject2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WsSecurityProject/WsSecurityProject.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSeguridadApps" />
  <xs:element name="ValidateInputText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFSeguridadApps" minOccurs="0" name="inputstring" nillable="true" type="q1:SecurityInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateInputTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFSeguridadApps" minOccurs="0" name="ValidateInputTextResult" nillable="true" type="q2:Validate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCardNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFSeguridadApps" minOccurs="0" name="inputText" nillable="true" type="q3:SecurityInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCardNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFSeguridadApps" minOccurs="0" name="GetCreditCardNumResult" nillable="true" type="q4:CreditCardInf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessCreditCardNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFSeguridadApps" minOccurs="0" name="input" nillable="true" type="q5:SanitizedInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessCreditCardNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFSeguridadApps" minOccurs="0" name="ProcessCreditCardNumberResult" nillable="true" type="q6:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>